@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#ports h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
}
#ports img{
    width: 200px;
    height: 200px;
}
.card{
    width: 250px;
    height: 300px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px  20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;

}
.card:hover{
    box-shadow: inset 5px  5px 10px rgba(0,0,0,.3),
                inset -4px -4px 10px white;
                transition: 2s;
}
#contact img{
   height: 100%;
}
.box{
    width:80% !important;
    background-position:white;
    margin-top:10px;
}
form{
    display:flex;
    flex-direction:column;
}
