html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
   
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    display: flex;
  }
  .left-column {
      width: 65%;
      position: relative;
    }
     
    .right-column {
      width: 35%;
      margin-top: 60px;
    }
  
    
  /* Product Description */
  .product-description {
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding:0 0 0 30px;
  }
  .product-description span {
    font-size: 12px;
    color: #000000;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }
  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #000000;
    letter-spacing: -2px;
  }
  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 24px;
  }
  
  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
  }
   
  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }
   
  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    
  }
  .cart-btn:hover {
    background-color: #64af3d;
  }
  
  /* Responsive */
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }
   
    .left-column,
    .right-column {
      width: 100%;
    }
   
    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }
   
  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }